{% extends 'base.html' %}

{% block title %}
  Add Criminal - ZzzCrimeCheck
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Criminals</h1>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Street</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zip</th>
                    <th>Phone Number</th>
                    <th>V Status</th>
                    <th>P Status</th>
                </tr>
            </thead>
            <tbody>
                {% for criminal in criminals %}
                    <tr>
                        <td>{{ criminal[0] }}</td>
                        <td>{{ criminal[1] }}</td>
                        <td>{{ criminal[2] }}</td>
                        <td>{{ criminal[3] }}</td>
                        <td>{{ criminal[4] }}</td>
                        <td>{{ criminal[5] }}</td>
                        <td>{{ criminal[6] }}</td>
                        <td>{{ criminal[7] }}</td>
                        <td>{{ criminal[8] }}</td>
                        <td>{{ criminal[9] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Include Bootstrap JS and jQuery -->
    {{ bootstrap.load_js() }}
{% endblock %}

