{% extends 'base.html' %}

{% block title %}
  Add Criminal - ZzzCrimeCheck
{% endblock %}
{% block content %}
    <div class="dash-container">
      <h2>Dashboard</h2>
      <div class="dashboard-menu">
        <a href="{{ url_for('search') }}" class="dashboard-item">
          <h3>Search</h3>
        </a>
        <a href="{{ url_for('get_all_criminals') }}" class="dashboard-item">
          <h3>Get All Criminals</h3>
        </a>
        <a href="{{ url_for('add_criminal') }}" class="dashboard-item">
          <h3>Add a Criminal</h3>
        </a>
      </div>
    </div>
{% endblock %}

