{% extends 'base.html' %}

{% block title %}
  Delete Criminal - ZzzCrimeCheck
{% endblock %}
{% block content %}
    <div class="container_search">
      <h2>Delete Criminal</h2>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class="flashes">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      <form class="form-search" method="POST" action="{{ url_for('delete_criminal') }}">
        <label for="criminal_id">Criminal ID:</label>
        <input type="text" id="criminal_id" name="criminal_id" required>
        <input type="submit" value="Delete">
      </form>
      <hr>
      <h3>All Criminals</h3>
      <div class="table-container">
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Last Name</th>
              <th>First Name</th>
              <th>Street</th>
              <th>City</th>
              <th>State</th>
              <th>Zip</th>
              <th>Phone</th>
              <th>Violent Status</th>
              <th>Property Status</th>
            </tr>
          </thead>
          <tbody>
            {% for criminal in criminals %}
              <tr>
                <td>{{ criminal[0] }}</td>
                <td>{{ criminal[1] }}</td>
                <td>{{ criminal[2] }}</td>
                <td>{{ criminal[3] }}</td>
                <td>{{ criminal[4] }}</td>
                <td>{{ criminal[5] }}</td>
                <td>{{ criminal[6] }}</td>
                <td>{{ criminal[7] }}</td>
                <td>{{ criminal[8] }}</td>
                <td>{{ criminal[9] }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
{% endblock %}
