<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}
  Add Criminal - ZzzCrimeCheck
{% endblock %}
{% block content %}

    <div class="container">
      <h2>All Criminals</h2>
      <div class="table-container">
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Last Name</th>
              <th>First Name</th>
              <th>Street</th>
              <th>City</th>
              <th>State</th>
              <th>Zip</th>
              <th>Phone</th>
              <th>Violent Status</th>
              <th>Property Status</th>
              {% if current_user.role == 'admin' %}
                <th>Action</th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            {% for criminal in criminals %}
              <tr>
                <td>{{ criminal[0] }}</td>
                <td>{{ criminal[1] }}</td>
                <td>{{ criminal[2] }}</td>
                <td>{{ criminal[3] }}</td>
                <td>{{ criminal[4] }}</td>
                <td>{{ criminal[5] }}</td>
                <td>{{ criminal[6] }}</td>
                <td>{{ criminal[7] }}</td>
                <td>{{ criminal[8] }}</td>
                <td>{{ criminal[9] }}</td>
                {% if current_user.role == 'admin' %}
                  <td>
                    <a href="{{ url_for('update_criminal', criminal_ID=criminal[0]) }}" class="btn btn-warning">Update</a>
                  </td>
                {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
{% endblock %}
