{% extends 'base.html' %}

{% block title %}
  Update {{ data_type[:-1].capitalize() }} - ZzzCrimeCheck
{% endblock %}

{% block content %}
  <div class="container">
      <h2>Update {{ data_type.capitalize() }}</h2>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class="flashes">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      <form method="post" action="{{ url_for('update_entry', data_type=data_type, id=entry[0]) }}">
        {% if data_type == 'criminal' %}

          <label for="l_name">Last Name:</label>
          <input type="text" id="l_name" name="l_name" value="{{ entry[1] }}" required>

          <label for="f_name">First Name:</label>
          <input type="text" id="f_name" name="f_name" value="{{ entry[2] }}" required>

          <label for="street">Street:</label>
          <input type="text" id="street" name="street" value="{{ entry[3] }}" required>

          <label for="city">City:</label>
          <input type="text" id="city" name="city" value="{{ entry[4] }}" required>

          <label for="state">State:</label>
          <input type="text" id="state" name="state" value="{{ entry[5] }}" required>

          <label for="zip">Zip:</label>
          <input type="text" id="zip" name="zip" value="{{ entry[6] }}" required>

          <label for="phone_num">Phone Number:</label>
          <input type="text" id="phone_num" name="phone_num" value="{{ entry[7] }}" required>

          <label for="v_status" class="radio-label">V Status:</label>
          <div class="radio-options">
            <input type="radio" id="v_status_yes" name="v_status" value="Y" {% if entry[8] == 'Y' %}checked{% endif %}>
            <label for="v_status_yes">Yes</label>
            <input type="radio" id="v_status_no" name="v_status" value="N" {% if entry[8] == 'N' %}checked{% endif %}>
            <label for="v_status_no">No</label>
          </div>

          <label for="p_status" class="radio-label">P Status:</label>
          <div class="radio-options">
            <input type="radio" id="p_status_yes" name="p_status" value="Y" {% if entry[9] == 'Y' %}checked{% endif %}>
            <label for="p_status_yes">Yes</label>
            <input type="radio" id="p_status_no" name="p_status" value="N" {% if entry[9] == 'N' %}checked{% endif %}>
            <label for="p_status_no">No</label>
          </div>
          {% endif %}

          {% if data_type == 'officer' %}
          <label for="l_name">Last Name:</label>
          <input type="text" id="l_name" name="l_name" value="{{ entry[1] }}" required>

          <label for="f_name">First Name:</label>
          <input type="text" id="f_name" name="f_name" value="{{ entry[2] }}" required>
          <label for="precinct">Precinct:</label>
          <input type="text" id="precinct" name="precinct" value="{{ entry[3] }}" required>
          <label for="badge">Badge:</label>
          <input type="text" id="badge" name="badge" value="{{ entry[4] }}" required>
  
          <label for="phone_num">Phone Number:</label>
          <input type="text" id="phone_num" name="phone_num" value="{{ entry[5] }}" required>
  
          <label for="status" class="radio-label">Status:</label>
          <div class="radio-options">
            <input type="radio" id="status_active" name="status" value="A" {% if entry[6] == 'A' %}checked{% endif %}>
            <label for="status_active">Active</label>
            <input type="radio" id="status_inactive" name="status" value="I" {% if entry[6] == 'I' %}checked{% endif %}>
            <label for="status_inactive">Inactive</label>
          </div>
          {% endif %}
    
          <input type="submit" value="Update {{ data_type[:-1].capitalize() }}">
      </form>
    </div>
{% endblock %}    
